# rename to secrets.sh and add your secrets here
drush password chat --password=###
cv api setting.create id=1 chatbot_facebook_page_access_token=###
cv api setting.create id=1 chatbot_facebook_app_secret=###
